<div class="row text-center">
  <h5>
    Eat at: <location>

    or <button type="button" class="">Search nearby <i class="fa fa-map-marker"></i></button>
  </h5>

</div>
<br \>
<div class="row">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Soho Spice <span class="pull-right">Cuisine: Thai</span>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="thumbnail">
                <img src="/assets/dog1.jpg" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="thumbnail">
                <img src="/assets/dog2.jpg" alt="" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="pull-right">5 star rating</span>
              Central, 2345 Hollywood Road
            </div>
          </div>
          <div class="row">

              <div class="control-group col-xs-12">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
              </div>

          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="pull-left text-center">
                <h5>Choose a time:</h5>
                <div class="btn-group" data-toggle="buttons">
                 <label class="btn btn-success active">
                   <input type="radio" name="options" id="option1" autocomplete="off" checked> 3:30pm
                 </label>
                 <label class="btn btn-success">
                   <input type="radio" name="options" id="option2" autocomplete="off"> 4pm
                 </label>
                 <label class="btn btn-success">
                   <input type="radio" name="options" id="option3" autocomplete="off"> 4:30pm
                 </label>
                </div>
              </div>
              <div class="pull-right text-center">
                <h5>50% discount</h5>
                <button type="button" class="btn btn-danger">
                  Book now <i class="fa fa-chevron-circle-right"></i>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>
