<div class="row">

  <div class="col-sm-6 text-center">
    Pick a time <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <div class="btn-group" data-toggle="buttons">
     <label class="btn btn-success active">
       <input type="radio" name="options" id="option1" autocomplete="off" checked> 3:00pm
     </label>
     <label class="btn btn-success">
       <input type="radio" name="options" id="option2" autocomplete="off"> 3:30pm
     </label>
     <label class="btn btn-success">
       <input type="radio" name="options" id="option3" autocomplete="off"> 4:00pm
     </label>
    </div>
  </div>
</div>
<br \>
<div class="row">

  <div>


      <a href="#" class="list-group-item">
        <span class="pull-right">Cuisine: Italian</span>
        <h4 class="list-group-item-heading">Mr. Joe's Pizza</h4>
        <p class="list-group-item-text">
          <span class="pull-right">1 star rating</span>
          455 Lang Kwai Fong <br />
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.<br />
          <img class="img-responsive" src="/assets/cockatiel.jpg">
        </p>
      </a>

    </ul>

  </div>


  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Soho Spice <span class="pull-right">Cuisine: Thais</span>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <img class="img-responsive" src="/assets/cockatiel.jpg">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            K-roll <span class="pull-right">Cuisine: Korean</span>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Sam's Pizza <span class="pull-right">Cuisine: Italian</span>
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
        </div>
      </div>
    </div>
  </div>

</div>
