<div class="row text-center">
  <h4>
    Eat at
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Tsim Tsa Tsui <i class="fa fa-caret-down fa-lg"></i>
  </button>

  <!-- Modal -->
  <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Select district:</h4>
        </div>
        <div class="modal-body">
        <div class="list-group">
          <a href="#" class="list-group-item active">Tsim Tsa Tsui</a>
            <a href="#" class="list-group-item">Jordan</a>
            <a href="#" class="list-group-item">Central</a>
            <a href="#" class="list-group-item">Sheung Wan</a>
            <a href="#" class="list-group-item">Causeway Bay</a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save choice</button>
        </div>
      </div>
    </div>
  </div>

    or search nearby <button type="button" class="btn btn-warning"><i class="fa fa-map-marker fa-lg"></i></button>
  </h4>

</div>
<div class="row">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Soho Spice <span class="pull-right">Cuisine: Thai</span>
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="thumbnail">
                <img src="/assets/dog1.jpg" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="thumbnail">
                <img src="/assets/dog2.jpg" alt="" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="pull-right">5 star rating</span>
              Central, 2345 Hollywood Road
            </div>
          </div>
          <div class="row">
            <div class="more-space col-xs-12">
              <div class="panel panel-success">
                <div class="panel-body">
                  <div class="pull-left text-center">
                    <h5>50% &nbsp; &nbsp; &nbsp; 45% &nbsp; &nbsp; &nbsp; 35%</h5>
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-success active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> 3:30pm
                      </label>
                      <label class="btn btn-success">
                        <input type="radio" name="options" id="option2" autocomplete="off"> 4pm
                      </label>
                      <label class="btn btn-success">
                        <input type="radio" name="options" id="option3" autocomplete="off"> 4:30pm
                      </label>
                    </div>
                  </div>


                  <div class="pull-right text-center">
                    <h5>Choose a time</h5>
                    <button type="button" class="btn btn-danger">
                      Book now <i class="fa fa-chevron-circle-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- row -->
        </div>
      </div>
    </div><!--panel-->

    <div class="panel panel-default">
       <div class="panel-heading" role="tab" id="headingTwo">
         <h4 class="panel-title">
           <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Pepper Lunch <span class="pull-right">Cuisine: BBQ</span>
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="thumbnail">
                <img src="/assets/dog1.jpg" alt="" class="img-responsive">
              </div>
            </div>
            <div class="col-xs-6">
              <div class="thumbnail">
                <img src="/assets/dog2.jpg" alt="" class="img-responsive">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <span class="pull-right">3 star rating</span>
              Cyberport, 1111 Cyberport Road
            </div>
          </div>
          <div class="row">
            <div class="more-space col-xs-12">
              <div class="panel panel-success">
                <div class="panel-body">
                  <div class="pull-left text-center">
                    <h5>40% &nbsp; &nbsp; &nbsp; 25% &nbsp; &nbsp; &nbsp; 15%</h5>
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-success active">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> 3:30pm
                      </label>
                      <label class="btn btn-success">
                        <input type="radio" name="options" id="option2" autocomplete="off"> 4pm
                      </label>
                      <label class="btn btn-success">
                        <input type="radio" name="options" id="option3" autocomplete="off"> 4:30pm
                      </label>
                    </div>
                  </div>


                  <div class="pull-right text-center">
                    <h5>Choose a time</h5>
                    <button type="button" class="btn btn-danger">
                      Book now <i class="fa fa-chevron-circle-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- row -->
        </div>
      </div>
    </div><!--panel-->

  <div class="panel panel-default">
     <div class="panel-heading" role="tab" id="headingThree">
       <h4 class="panel-title">
         <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Ippudo Ramen<span class="pull-right">Cuisine: Ramen</span>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="thumbnail">
              <img src="/assets/dog1.jpg" alt="" class="img-responsive">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="thumbnail">
              <img src="/assets/dog2.jpg" alt="" class="img-responsive">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <span class="pull-right">4 star rating</span>
            Lang Kwai Fang, 455 Morrison St.
          </div>
        </div>
        <div class="row">
          <div class="more-space col-xs-12">
            <div class="panel panel-success">
              <div class="panel-body">
                <div class="pull-left text-center">
                  <h5>40% &nbsp; &nbsp; &nbsp; 25% &nbsp; &nbsp; &nbsp; 15%</h5>
                  <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-success active">
                      <input type="radio" name="options" id="option1" autocomplete="off" checked> 3:30pm
                    </label>
                    <label class="btn btn-success">
                      <input type="radio" name="options" id="option2" autocomplete="off"> 4pm
                    </label>
                    <label class="btn btn-success">
                      <input type="radio" name="options" id="option3" autocomplete="off"> 4:30pm
                    </label>
                  </div>
                </div>


                <div class="pull-right text-center">
                  <h5>Choose a time</h5>
                  <button type="button" class="btn btn-danger">
                    Book now <i class="fa fa-chevron-circle-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div><!-- row -->
      </div>
    </div>
  </div><!--panel-->


  </div><!-- accordion group -->

</div>
